# Data Overview
Fuel Economy Data by the Environmental Protection Agency for 2008 and 2018  
The fuel economy of an automobile is the fuel efficiency relationship between the distance traveled and the amount of fuel consumed by the vehicle. Consumption can be expressed in terms of volume of fuel to travel a distance, or the distance travelled per unit volume of fuel consumed.

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

fuel_08_full = pd.read_csv("all_alpha_08.csv")
fuel_18_full = pd.read_csv("all_alpha_18.csv")

#  Assessing the Dataset
Data characteristics to be checked:   
+ number of samples in each dataset
+ number of columns in each dataset
+ duplicate rows in each dataset
+ datatypes of columns
+ features with missing values
+ number of non-null unique values for features in each dataset
+ what those unique values are and counts for each

### For the 2008 dataset

In [2]:
fuel_08_full.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [3]:
fuel_08_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Stnd                  2404 non-null   object
 8   Underhood ID          2404 non-null   object
 9   Veh Class             2404 non-null   object
 10  Air Pollution Score   2404 non-null   object
 11  FE Calc Appr          2205 non-null   object
 12  City MPG              2205 non-null   object
 13  Hwy MPG               2205 non-null   object
 14  Cmb MPG               2205 non-null   object
 15  Unadj Cmb MPG         2205 non-null   float64
 16  Greenhouse Gas Score  2205 non-null   object
 17  SmartWay              2404 non-null   object
dtypes: float64(2), object(16)
memory usage: 338.2+ KB

In [4]:
fuel_08_full.nunique()

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64

In [5]:
fuel_08_full.isnull().sum()

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales Area                0
Stnd                      0
Underhood ID              0
Veh Class                 0
Air Pollution Score       0
FE Calc Appr            199
City MPG                199
Hwy MPG                 199
Cmb MPG                 199
Unadj Cmb MPG           199
Greenhouse Gas Score    199
SmartWay                  0
dtype: int64

In [6]:
# the number of rows with missing data 
print(len(fuel_08_full)-len(fuel_08_full.dropna()))

199

In [7]:
fuel_08_full.duplicated().sum()

25

### For the 2018 dataset

In [8]:
fuel_18_full.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

In [9]:
fuel_18_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1611 non-null   object
 1   Displ                 1609 non-null   float64
 2   Cyl                   1609 non-null   float64
 3   Trans                 1611 non-null   object
 4   Drive                 1611 non-null   object
 5   Fuel                  1611 non-null   object
 6   Cert Region           1611 non-null   object
 7   Stnd                  1611 non-null   object
 8   Stnd Description      1611 non-null   object
 9   Underhood ID          1611 non-null   object
 10  Veh Class             1611 non-null   object
 11  Air Pollution Score   1611 non-null   int64
 12  City MPG              1611 non-null   object
 13  Hwy MPG               1611 non-null   object
 14  Cmb MPG               1611 non-null   object
 15  Greenhouse Gas Score  1611 non-null   int64
 16  SmartWay              1611 non-null   object
 17  Comb CO2              1611 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.7+ KB

In [10]:
fuel_18_full.nunique()

Model                   367
Displ                    36
Cyl                       7
Trans                    26
Drive                     2
Fuel                      5
Cert Region               2
Stnd                     19
Stnd Description         19
Underhood ID            230
Veh Class                 9
Air Pollution Score       6
City MPG                 58
Hwy MPG                  62
Cmb MPG                  57
Greenhouse Gas Score     10
SmartWay                  3
Comb CO2                299
dtype: int64

In [11]:
fuel_18_full.isnull().sum()

Model                   0
Displ                   2
Cyl                     2
Trans                   0
Drive                   0
Fuel                    0
Cert Region             0
Stnd                    0
Stnd Description        0
Underhood ID            0
Veh Class               0
Air Pollution Score     0
City MPG                0
Hwy MPG                 0
Cmb MPG                 0
Greenhouse Gas Score    0
SmartWay                0
Comb CO2                0
dtype: int64

In [12]:
# the number of rows with missing data 
print(len(fuel_18_full)-len(fuel_18_full.dropna()))

2

In [13]:
fuel_18_full.duplicated().sum()

0

In [14]:
# check if a value exists in a specific column, for 2008 
(fuel_08_full["Fuel"].str.lower() == "Ethanol/Gas".lower()).sum()

72

In [15]:
# check if a value exists in a specific column, for 2018
(fuel_18_full["Fuel"].str.lower() == "Ethanol/Gas".lower()).sum()

55

# Cleaing the Dataset

In [16]:
fuel_08_full.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [17]:
fuel_18_full.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

#### Droping the extraneous columns
the ones that aren't consistent (not present in both datasets) or aren't relevant to our questions  
For the 2008 `"Stnd", "Underhood ID", "FE Calc Appr", "Unadj Cmb MPG"`   
For the 2018 `"Stnd", "Stnd Description", "Underhood ID", "Comb CO2"`

In [18]:
# take a copy of the datasets to apply the changes, and to keep the original datasets unchanged
fuel_08 = fuel_08_full.copy()
fuel_18 = fuel_18_full.copy()

# the names of the columns to be dropped
columns_08 = ["Stnd", "Underhood ID", "FE Calc Appr", "Unadj Cmb MPG"]
columns_18 = ["Stnd", "Stnd Description", "Underhood ID", "Comb CO2"]

# removing the columns 
fuel_08.drop(columns=columns_08 , inplace=True)
fuel_18.drop(columns=columns_18 , inplace=True)

In [19]:
fuel_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

#### Rename columns for consistency

Rename "Sales Area" in 2008 to  "Cert Region" as in 2018

In [20]:
fuel_08.rename(columns={"Sales Area": "Cert Region"}, inplace=True)

In [21]:
fuel_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

#### Rename columns to replace spaces with underscores

In [22]:
# replace spaces with '_' in the column names
fuel_08.columns = fuel_08.columns.str.replace(' ', '_')
fuel_18.columns = fuel_18.columns.str.replace(' ', '_')

# change column names to the lowecase
fuel_08.columns = fuel_08.columns.str.lower()
fuel_18.columns = fuel_18.columns.str.lower()

In [23]:
fuel_08.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

#### Filter Dataset
We can filter the dataset to only select cars certified by California standards.  
Filter both datasets using query to select only rows where cert_region is CA. Then, drop the cert_region columns, since it will no longer provide any useful information (we'll know every value is 'CA').

In [24]:
# for the 2008 dataset
fuel_08_CA = fuel_08.query('cert_region == "CA"').copy()
fuel_08_CA.drop(columns="cert_region", inplace=True)

# for the 2018 dataset
fuel_18_CA = fuel_18.query('cert_region == "CA"').copy()
fuel_18_CA.drop(columns="cert_region", inplace=True)

print(fuel_08_CA.shape)
print(fuel_18_CA.shape)

(1084, 13)
(798, 13)

#### Drop nulls

In [25]:
fuel_08_CA.dropna(axis=0, inplace=True)
fuel_18_CA.dropna(axis=0, inplace=True)

#check to confirm last step
fuel_18_CA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 797 entries, 1 to 1609
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 797 non-null    object
 1   displ                 797 non-null    float64
 2   cyl                   797 non-null    float64
 3   trans                 797 non-null    object
 4   drive                 797 non-null    object
 5   fuel                  797 non-null    object
 6   veh_class             797 non-null    object
 7   air_pollution_score   797 non-null    int64
 8   city_mpg              797 non-null    object
 9   hwy_mpg               797 non-null    object
 10  cmb_mpg               797 non-null    object
 11  greenhouse_gas_score  797 non-null    int64
 12  smartway              797 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 87.2+ KB

#### Remove duplicated rows

In [26]:
fuel_08_CA.drop_duplicates(inplace=True)
fuel_18_CA.drop_duplicates(inplace=True)

#check to confirm last step
fuel_18_CA.duplicated().sum()

0

In [27]:
fuel_08_CA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 986 entries, 0 to 2400
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 986 non-null    object
 1   displ                 986 non-null    float64
 2   cyl                   986 non-null    object
 3   trans                 986 non-null    object
 4   drive                 986 non-null    object
 5   fuel                  986 non-null    object
 6   veh_class             986 non-null    object
 7   air_pollution_score   986 non-null    object
 8   city_mpg              986 non-null    object
 9   hwy_mpg               986 non-null    object
 10  cmb_mpg               986 non-null    object
 11  greenhouse_gas_score  986 non-null    object
 12  smartway              986 non-null    object
dtypes: float64(1), object(12)
memory usage: 107.8+ KB

In [28]:
fuel_18_CA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 794 entries, 1 to 1609
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 794 non-null    object
 1   displ                 794 non-null    float64
 2   cyl                   794 non-null    float64
 3   trans                 794 non-null    object
 4   drive                 794 non-null    object
 5   fuel                  794 non-null    object
 6   veh_class             794 non-null    object
 7   air_pollution_score   794 non-null    int64
 8   city_mpg              794 non-null    object
 9   hwy_mpg               794 non-null    object
 10  cmb_mpg               794 non-null    object
 11  greenhouse_gas_score  794 non-null    int64
 12  smartway              794 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 86.8+ KB

#### Inspecting and Fixing Data Types

+ Fix `cyl` datatype  
2008: extract int from string.  
2018: convert float to int.  

+ Fix `air_pollution_score` datatype   
2008: convert string to float.  
2018: convert int to float.  

+ Fix `city_mpg, hwy_mpg, cmb_mpg` datatypes    
2008 and 2018: convert string to float.  

+ Fix `greenhouse_gas_score` datatype    
2008: convert from float to int.

##### Fix `cyl` datatype
+ 2008: extract int from string.  
+ 2018: convert float to int.

In [29]:
# check value counts for the 2008 cyl column
fuel_08_CA['cyl'].value_counts()

(6 cyl)     409
(4 cyl)     283
(8 cyl)     199
(5 cyl)      48
(12 cyl)     30
(10 cyl)     14
(2 cyl)       2
(16 cyl)      1
Name: cyl, dtype: int64

In [30]:
fuel_08_CA["cyl"] = fuel_08_CA["cyl"].str.extract('(\d+)')

# Check value counts for 2008 cyl column again to confirm the change
fuel_08_CA['cyl'].value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: cyl, dtype: int64

In [31]:
# convert 2008 cyl column to int
fuel_08_CA['cyl'] = fuel_08_CA['cyl'].astype('int64')

# convert 2018 cyl column to int
fuel_18_CA['cyl'] = fuel_18_CA['cyl'].astype('int64')

In [32]:
fuel_18_CA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 794 entries, 1 to 1609
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 794 non-null    object
 1   displ                 794 non-null    float64
 2   cyl                   794 non-null    int64
 3   trans                 794 non-null    object
 4   drive                 794 non-null    object
 5   fuel                  794 non-null    object
 6   veh_class             794 non-null    object
 7   air_pollution_score   794 non-null    int64
 8   city_mpg              794 non-null    object
 9   hwy_mpg               794 non-null    object
 10  cmb_mpg               794 non-null    object
 11  greenhouse_gas_score  794 non-null    int64
 12  smartway              794 non-null    object
dtypes: float64(1), int64(3), object(9)
memory usage: 86.8+ KB

##### Fix `air_pollution_score` datatype  
+ 2008: extract int from string.
+ 2018: convert float to int.

The following line of code raised an error `ValueError: could not convert string to float: '6/4'`
```      
# convert 2008 air_pollution_score column to float
fuel_08_CA['air_pollution_score'] = fuel_08_CA['air_pollution_score'].astype('float64')
```

In [33]:
fuel_08_CA[fuel_08_CA.air_pollution_score == '6/4']

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

As can be seen `air_pollution_score` has value `6/4` and also `city_mpg`, `hwy_mpg`, `cmb_mpg`, `greenhouse_gas_score` 
maybe that's why these were all saved as strings! According to [this link](http://www.fueleconomy.gov/feg/findacarhelp.shtml#airPollutionScore), from the PDF documentation:

"If a vehicle can operate on more than one type of fuel, an estimate is provided for each fuel type."  
  
So all vehicles with more than one fuel type, or hybrids, like the one above (it uses ethanol AND gas) will have a two values separated by '/'- one for each type of fuel.

In [34]:
# get all the hybrids fuel in 2008
hb_08 = fuel_08_CA[fuel_08_CA['fuel'].str.contains('/')]
hb_08

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [35]:
# hybrids fuel in 2018
hb_18 = fuel_18_CA[fuel_18_CA['fuel'].str.contains('/')]
hb_18

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
108,BMW 330e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,3,28/66,34/78,30/71,10,Yes
160,BMW 530e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,7,27/70,31/75,29/72,10,Elite
162,BMW 530e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,small car,7,27/66,31/68,28/67,10,Elite
188,BMW 740e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,large car,3,25/62,29/68,27/64,9,Yes
382,CHEVROLET Impala,3.6,6,SemiAuto-6,2WD,Ethanol/Gas,large car,5,14/18,20/28,16/22,4,No
394,CHEVROLET Silverado 15,4.3,6,Auto-6,2WD,Ethanol/Gas,pickup,5,12/18,16/24,14/20,4,No
396,CHEVROLET Silverado 15,4.3,6,Auto-6,4WD,Ethanol/Gas,pickup,5,12/17,15/22,13/19,3,No
398,CHEVROLET Silverado 15,5.3,8,Auto-6,2WD,Ethanol/Gas,pickup,3,12/16,17/23,14/19,3,No
428,CHEVROLET Suburban 1500,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
432,CHEVROLET Suburban 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,15/22,12/18,3,No
436,CHEVROLET Tahoe 1500,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
440,CHEVROLET Tahoe 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,16/22,13/18,3,No
454,CHEVROLET Volt,1.5,4,CVT,2WD,Gasoline/Electricity,small car,3,43/113,42/99,42/106,10,Yes
456,CHEVROLET Volt,1.5,4,CVT,2WD,Gasoline/Electricity,small car,7,43/113,42/99,42/106,10,Elite
458,CHRYSLER 300,3.6,6,Auto-8,2WD,Ethanol/Gas,large car,3,14/19,22/30,17/23,5,No
462,CHRYSLER 300,3.6,6,Auto-8,4WD,Ethanol/Gas,large car,3,13/18,20/27,16/21,4,No
492,DODGE Charger,3.6,6,Auto-8,2WD,Ethanol/Gas,large car,3,14/19,22/30,17/23,5,No
496,DODGE Charger,3.6,6,Auto-8,4WD,Ethanol/Gas,large car,3,13/18,20/27,16/21,4,No
605,FORD Fusion Energi Plug-in Hybrid,2.0,4,CVT,2WD,Gasoline/Electricity,midsize car,7,43/102,41/91,42/97,10,Elite
659,GMC Sierra 15,4.3,6,Auto-6,2WD,Ethanol/Gas,pickup,5,12/18,16/24,14/20,4,No
661,GMC Sierra 15,4.3,6,Auto-6,4WD,Ethanol/Gas,pickup,5,12/17,15/22,13/19,3,No
663,GMC Sierra 15,5.3,8,Auto-6,2WD,Ethanol/Gas,pickup,3,12/16,17/23,14/19,3,No
697,GMC Yukon 1500,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
701,GMC Yukon 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,16/22,13/18,3,No
709,GMC Yukon 1500 XL,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
715,GMC Yukon XL 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,15/22,12/18,3,No
892,JEEP Cherokee,2.4,4,Auto-9,2WD,Ethanol/Gas,small SUV,3,15/21,22/30,18/25,5,No
896,JEEP Cherokee,2.4,4,Auto-9,4WD,Ethanol/Gas,small SUV,3,14/21,21/28,17/23,5,No
933,KARMA Revero,2.0,4,Auto-1,2WD,Gasoline/Electricity,small car,1,20/59,21/61,20/60,10,No
1162,MERCEDES-BENZ CLA250 4Matic,2.0,4,AutoMan-7,4WD,Ethanol/Gas,small car,5,17/24,24/32,20/27,6,No
1179,MERCEDES-BENZ GLA250 4Matic,2.0,4,AutoMan-7,4WD,Ethanol/Gas,small SUV,5,17/23,23/31,19/26,5,No
1192,MERCEDES-BENZ GLE350 4Matic,3.5,6,Auto-7,4WD,Ethanol/Gas,standard SUV,3,13/18,17/22,14/19,3,No
1256,MINI Cooper SE Countryman All4,1.5,3,SemiAuto-6,4WD,Gasoline/Electricity,midsize car,3,28/63,27/66,27/65,9,Yes
1507,TOYOTA Sequoia FFV,5.7,8,SemiAuto-6,4WD,Ethanol/Gas,standard SUV,5,9/13,13/17,10/14,1,No
1517,TOYOTA Tundra FFV,5.7,8,SemiAuto-6,4WD,Ethanol/Gas,pickup,5,9/13,12/17,10/15,2,No
1577,VOLVO S90,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,midsize car,7,26/70,33/72,29/71,10,Elite
1601,VOLVO XC 60,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,small SUV,7,26/60,28/58,26/59,10,Elite
1609,VOLVO XC 90,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,standard SUV,7,26/63,30/61,27/62,10,Elite

I am going to take each hybrid row and split them into two new rows - one with values for the first fuel type (values before the "/"), and the other with values for the second fuel type (values after the "/"). Let's separate them with two dataframes!

##### For the 2008

In [36]:
# create two copies of the 2008 hybrids dataframe
df1 = hb_08.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb_08.copy()  # data on second fuel type of each hybrid vehicle

In [37]:
# columns to split by "/"
split_columns = ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [38]:
# this dataframe holds info for the FIRST fuel type of the hybrid
# aka the values before the "/"s
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no

In [39]:
# this dataframe holds info for the SECOND fuel type of the hybrid
# aka the values after the "/"s
df2

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [40]:
# combine dataframes to add to the original dataframe
new_rows = df1.append(df2)

# check to confirm the last step
new_rows

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [41]:
# drop the original hybrid rows
fuel_08_CA.drop(hb_08.index, inplace=True)

# add the newly separated rows
fuel_08_CA = fuel_08_CA.append(new_rows, ignore_index=True)

In [42]:
# check that all the original hybrid rows with "/"s are gone
fuel_08_CA[fuel_08_CA['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [43]:
fuel_08_CA.shape

(987, 13)

##### For the 2018